* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* apply styles to all images */  
img {
    width: 100%;
    display: block;
}

/* body styles */
body {
    color: #333333;
    font-family: "Poppins", sans-serif;
}

/* Disable body overflow on certain conditions */
body.disabled {
    overflow: hidden;
}

/* heading styles */ 
h1 {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
}
  
h2 {
    font-size: 28px;
}
  
h3 {
    font-size: 20px;
}

/* paragraph styles */  
p {
    font-size: 16px;
    color: #707070;
}

/* logo width */
.logo{
    width: 70px;
}

/* Mobile view  styles*/

/* Navbar */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 15px 20px;
    transition: all 0.3s ease;
}

/* sticky navbar */
.navbar.sticky{
    background-color: #333;
}

/* Navbar content styles */
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Menu list styles */
.menu-list li{
    list-style: none; /* remove list dot*/
}

.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500; /* change font weight */
    text-decoration: none; /* remove underline*/
    transition: all 0.3s ease;  /* hover transition for 0.3s */
}

/* Hover effect on menu list items */
.menu-list li a:hover{
    color: #e77166; 
}

/* style icon button for burger menu and cancle btn */
.icon{
    color: #fff;
    font-size: 25px;
    cursor: pointer; /* change the mouse cursor when hovering over an element */
}

.icon:hover {
    color: #e77166;
}

/* hide the icons wait for javascript to style */
.icon.hide{
    display: none;
}

/* position cancel icon absolute and set the top and right */
.menu-list .cancel-btn{
    position: absolute;
    right: 35px;
    top: 25px;
}

/* navbar menu list styles */
.navbar .menu-list{
    position: fixed;
    transform: translateX(100%);
    top: 0px;
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* background color with 50% transparent */
    backdrop-filter: blur(5px); /* set background color to blur */
    transition: all 0.3s ease; /* Set transition time */
    inset: 0 0 0 30%; /* set the space that burger menu takes */
    padding-top: 100px; 
}

/* show the menu */
.navbar.show .menu-list{
    transform: translateX(0%);
}

.navbar .menu-list li {
    margin-top: 35px;
    padding: 5px;
}

.sign{
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 25px;
}

.sign:hover{
    border: 1px solid #e77166;
}

/* index page banner */
.banner {
    padding: 0 20px;
    background: url("../images/banner/banner.jpg") no-repeat; /* Add background image with no repeat*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* fix the background image */
    padding-top: 150px;
    color: #fff;
}

.banner p {
    color: #fff;
    text-align: center;
}

.search{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style the search input */
.search input{
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
}

/* style the search btn */
.search-btn{
    cursor: pointer;
    padding: 10px 25px;
    font-size: 18px;
    background-color: #e77166;
    color: #fff;
    border: none;
    border-radius: 20px;
}

.search-btn:hover{
    background-color: #333333;
    transition: all 0.3s ease;
}

/* style the search bar */
.search-bar{
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
}

.swiper-container {
    position: relative;
    overflow: hidden;
  }

  .swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out; /* apply transition effetc with 0.3 seconds to complete, and uses ease-in-out timing function for a gradual start and end.*/
  }

  .swiper-slide {
    flex: 0 0 100%;
    margin: 50px 0 20px 0;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.50); /* no horizontal or vertical offset, blur radius of 16px, and a spread of -4px. It uses a semi-transparent black color (rgba(0, 0, 0, 0.50)). */
    cursor: grab;
  }

  .card-image img {
    border-radius: 20px 20px 0 0;
  }

  /* Example styles for image within the slide */
  .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
  }

  /* Example styles for text within the slide */
  .swiper-slide p {
    margin-top: 10px;
  }

  /* Styles for pagination and buttons */
  .swiper-pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }

  .swiper-pagination span {
    width: 10px;
    height: 10px;
    background-color: #e77166;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Translate the element vertically upward by 50% of its own height. */
    background-color: #e77166;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .swiper-button-next {
    right: 0;
  }

/* games name */
.name a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.name a:hover{
    color:#e77166;
}

/* categories of the games*/
.categories{
    padding:  5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories p a{
    text-decoration: none;
    font-size: 14px;
    color: #707070;
}

.categories p a:hover{
    color: #e77166;
}

/* Game description text */
.card-content .description p{
    font-size: 14px;
    color: #707070;
    text-align: left;
}

/* suport system icon */
.system {
    display: flex;
    justify-content: center;
    align-items: center;
}

.system img{
    width: 18px;
    padding: 0 1px;
}

/* style the price of the top saler*/
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #707070;
    margin-top: 20px;
}

.price p{
    color: #333;
    font-weight: 600;
}

/* style pre-order btn */
.button{
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 8px 16px;
    margin: 14px;
    cursor: pointer;
    background-color: #e77166;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #333;
}

/* style offer section */
.offer {
    padding: 40px 0;
    background-color: #f6f6ff;
}

.offer-title {
    text-align: center;
}

/* Offer countdown */
.countdown-timer{
    margin: 10px 0;
    text-align: center;
}

.timer-item {
    display: inline-block;
    background-color: #e77166;
    margin: 5px 3px;
    width: 100px;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}

.timer-item span {
    display: block;
    font-size: 18px;
    font-weight: 500;
}

/* style the offer price */
.price .offer-p{
    color: #e77166;
}

.price a{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through; /* cross off the old price */
}

/* more offer button style */
.more{
    text-align: center;
}

.more a {
    color: #e77166;
    text-decoration: none;
    border-bottom: 2px solid #e77166;
    padding: 2px 5px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.more a:hover{
    color: #333;
    border-bottom: 2px solid #333;
}

.offer-slider {
    padding: 20px 0 40px 0;
}

/* index page free games section */
.free {
    background-image: url(../images/banner/section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.free-title,
.upcoming-title {
    text-align: center;
}

.free p{
    font-size: 14px;
}

.free-row,
.upcoming-row {
    margin: 0 30px;
}

.free-col,
.upcoming-col {
    padding: 15px 15px 25px 15px;
    background-color: #fff;
    border-radius: 25px;
    margin: 30px 0;
    box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.75);
}

.free-col h3,
.upcoming-col h3 {
    padding-top: 15px;
}

.free-col img,
.upcoming-col img {
    border-radius: 15px 15px 0 0;
}

.space {
    padding-bottom: 20px;
}

/* style all the action btn - play for free, find out more and sign in */
.action-btn {
    text-decoration: none;
    font-size: 16px;
    background-color: #e77166;
    color: #fff;
    padding: 8px 16px;
    display: block;
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.action-btn:hover {
    background-color: #333;
}

/* upcoming section */
.upcoming {
    padding: 40px 20px;
    background-color: #f6f6ff;
}

/* align ofk game */
.ofk {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* remove this section from mobile view */
.ofk-img{
    display: none;
}

.ofk-img,
.ofk-content {
    flex: 1;
    padding: 0 10px;
}

.upcoming p {
    font-size: 14px;
}

/* border a line to split games */
.upcoming-row {
    margin-top: 20px;
    border-top: 1px solid #707070;
}

.upcoming-col h2 {
    padding-top: 10px;
}

/* Join us section */
.join {
    background-image: url(../images/join_us/home_join.png);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 40px 0;
}

.join p {
    color: #fff;
    padding-top: 5px;
}

.join .link {
    text-decoration: none;
    color: #e77166;
    transition: all 0.3s ease;
}

.join .link:hover{
    color:#333
}

.space-top {
    margin-top: 10px;
}

/* footer */
footer{
    background-image: url(../images/footer/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    padding: 40px 30px;
}

footer p {
    color: #fff;
}

.footer-logo-img {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.footer-logo-img img{
    width: 140px;
}

footer .social a i {
    font-size: 40px;
    padding: 20px 20px 0 20px;
}

.footer-col {
    padding: 20px 0;
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.footer-nav h4{
    margin-bottom: 10px;
}

.footer-nav ul li {
    list-style-type: none;
}

.footer-col a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.footer-col a:hover{
    color: #333;
}

/* footer copyright */
.copyright {
    border-top: 1px solid #fff;
    text-align: center;
    padding-top: 5px;
}

.policy {
    display: flex;
    justify-content: center;
}

.policy p a {
    text-decoration: none;
    color: #fff;
    padding: 0 5px;
    font-size: 16px;
}

.policy p a:hover {
    color: #333;
}

/* new page */
/* new page banner */
.new-banner{
    background-image: linear-gradient(
        to bottom,
        rgba(245, 246, 252, 0),
        rgba(51, 51, 51, 1)
    ),
    url("../images/banner/new_banner.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 20px 40px 20px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
}

.new-text {
    color: #fff;
    font-size: 16px;
    padding-bottom: 20px;
}

.new-banner a,
.game-banner a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    background-color: #e77166;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.new-banner a:hover,
.game-banner a:hover {
    background-color: #fff;
    color: #333;
}

.new-banner-slide {
    background-color: #333;
}

.new-banner-slide .swiper-slide{
    margin: 0;
    border-radius: 0;
    padding: 20px 40px;
    box-shadow: none;
    background-color: #333;
}

.new-banner-slide .card-image img {
    border-radius: 25px;
}

.new-join {
    background-image: url(../images/join_us/new_join.jpg);
  }
  
  .game-join {
    background-image: url(../images/join_us/games_join.jpg);
  }

/* game page */
.game-banner {
    background-image: linear-gradient(
        to bottom,
        rgba(245, 246, 252, 0),
        rgba(51, 51, 51, 1)
    ),
    url("../images/banner/games_banner.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 20px 40px 20px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
}

/* filter */
.filter-menu{
    padding: 30px 0;
    background-color: #f6f6ff;
}

.filter-menu h2 {
    text-align: center;
}

.fmenu-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
}

.fmenu-btns {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.fmenu-btn {
    font-size: 20px;
    font-weight: 600;
    background: none;
    border: none;
    color: #e77166;
    display: block;
    margin: 0 20px;
    cursor: pointer;
    transition: opacity 0.4s ease-out;
}

.fmenu-btn::after {
    content: "";
    display: block;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background: #333;
    margin-top: 10px;
    width: 0;
    transition: width 0.4s ease-out;
}

.fmenu-btn:hover::after {
    width: 100%;
}

.fmenu-btn:hover {
    color: #333;
}

.active-btn {
    color: #333;
}

/* games section */
.filter-menu .align-left{
    text-align: left;
}
.game-items {
    margin: 20px 0;
}

.game-item {
    border-radius: 25px;
    overflow: hidden;
    background: #fff;
    color: #000;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.75);
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


/* support page */
/* support page banner */
.support-banner {
    padding-bottom: 100px;
}

/* support page help section */
.contact {
    color: #333;
}

.contact-detail {
    text-align: center;
    padding: 40px 20px;
    background-color: #f6f6ff;
}

.contact-detail h2{
    font-size: 28px;
}

.information {
    text-align: center;
    padding: 50px 30px;
}

.information h3 {
    font-size: 24px;
    padding-bottom: 20px;
}

.information h4 {
    font-size: 18px;
}

.information a {
    text-decoration: none;
    color: #e77166;
}

.information a:hover {
    color: #333;
}

.contact-info {
    padding-top: 30px;
}

/* feedback form */
.support-form {
    border-radius: 25px;
    box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.75);
    padding: 40px 20px;
    background-color: #fff;
}

.support-form input[type="text"],
.support-form input[type="email"],
.support-form textarea {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.support-form input[type="submit"] {
    width: 100%;
    background-color: #e77166;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.support-form input[type="submit"]:hover {
    background-color: #333;
}

.align {
    text-align: center;
}


/* Tablet view */
@media screen and (min-width: 688px) {
    /* header nav */
    .icon {
        display: none;
    }

    .navbar .menu-list {
        position: sticky;
        display: flex;
        background-color: transparent;
        transform: none;
        padding-top: 0;
    }

    .navbar .menu-list li {
        margin-top: 0px;
    }
    
    .navbar .menu-list li a {
        padding: 0 5px;
    }
    
    .navbar .menu-list li a.sign {
        padding: 5px 15px;
    }

    .search-bar {
        max-width: 600px;
    }

    .free-row {
        display: flex;
    }

    .free-col {
        flex: 1;
        margin: 20px;
    }

    .ofk {
        padding: 50px 0;
    }

    .game-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }


    .swiper-wrapper {
        display: flex;
        transition: transform 0.3s ease-in-out;
        margin: 0 -10px; /* Negative margin to create space between slides */
      }

    .swiper-slide {
        flex: 0 0 calc(50% - 20px); /* Adjust width and space between slides */

        margin: 60px 10px 20px 10px; /* Adjust space between slides */

      }
}

/* destop view */
@media screen and (min-width: 992px) {
    /* reset the font size */
    .h1 {
        font-size: 45px;
    }

    .h2 {
        font-size: 34px;
    }

    .banner {
        padding-top: 200px;
    }

    .offer-title h2,
    .free-title h2,
    .upcoming-title h2,
    .join h2 {
        padding: 40px 0 20px 0; 
    }

    .swiper-slide {
        flex: 0 0 calc(100% / 3 - 20px); /* Display three slides at a time on desktop */
      }

    /* upcoming section */
    .upcoming-row {
        display: flex;
    }

    .upcoming-col {
        flex: 1;
        margin: 20px;
    }

    .free-r {
        display: flex;
    }

    .free-row {
        margin: 0;
    }

    .offer-title h2,
    .free-title h2,
    .upcoming-title h2,
    .join h2 {
        padding: 40px 0 20px 0;
    }

    .banner {
        padding-top: 250px;
    }

    .ofk-img {
        display: block;
    }


    /* footer section */
    .footer-row{
        display: flex;
    }

    .footer-logo {
        width: 25%;
    }

    .footer-nav {
        width: 75%;
        justify-content: space-around;
    }
    
    .copyright {
        display: flex;
        justify-content: space-between;
    }

    .copyright p {
        padding-top: 20px;
    }

    .support-banner {
        padding-bottom: 150px;
    }

    .contact{
        display: flex;
        margin: 40px;
        justify-content: center;
        align-items: center;
    }

    .information,
    .support-form {
        max-width: 700px;
    }

    .new-banner,
    .game-banner {
        height: 90vh;
        padding: 150px 30px;
        text-align: left;
    }

    .new-banner h1,
    .game-banner h1 {
        text-align: left;
    }

    .new-container {
        width: 50%;
    }

    .upcoming-card {
        margin: 0 20px;
    }
    
    .upcoming-row {
    margin: 20px 0;
    }

    .new-product {
        padding: 60px 0;
    }

    .sign {
        border: 1px solid #fff;
    }

    .game-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }

    .information {
        text-align: left;
    }

    .contact-info {
        padding-top: 40px;
    }
}